/.vs
/Swifter.Core/bin
/Swifter.Core/obj
/Swifter.Data/bin
/Swifter.Data/obj
/Swifter.Json/bin
/Swifter.Json/obj
/Swifter.Pointer.Builder/bin
/Swifter.Pointer.Builder/obj
/Swifter.Reflection/bin
/Swifter.Reflection/obj
/Swifter.Script/bin
/Swifter.Script/obj
/Swifter.Test/bin
/Swifter.Test/obj
/Nuget
